In [27]:
import pandas as pd

In [28]:
from sklearn.feature_extraction.text import CountVectorizer

In [29]:
from sklearn.metrics.pairwise import cosine_similarity

In [30]:
import urllib.request

In [31]:
movies = pd.read_csv('dataset.csv')

In [32]:
movies.head()

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811

In [33]:
movies=movies[['id','title','overview','genre','vote_average','popularity']].sort_values(by='popularity', ascending=False)

In [34]:
def recommend(movies, genre):
    input_genres = genre_input.split(',')
    genre_movies = movies[movies['genre'].notnull() & movies['genre'].apply(lambda x: isinstance(x, str) and any(g in x.split(',') for g in input_genres))]
    if genre_movies.empty:
        return "No movies found for the provided genre(s)."
    vectorizer = CountVectorizer()
    overview_vectors = vectorizer.fit_transform(genre_movies['overview'])
    similarity = cosine_similarity(overview_vectors)
    top_rated_movies = genre_movies.sort_values(by='popularity', ascending=False)
    return top_rated_movies.head(5)
    pickle.dump(similarity_matrix, open('similarity_matrix.pkl', 'wb'))

In [35]:
genre_input = input("Enter genre: ")
recommended_movies = recommend(movies, genre_input)
print(recommended_movies[['title', 'popularity']])

                  title  popularity
9912                RRR   11598.000
61    Top Gun: Maverick    7567.017
1574                Dog    1506.438
514              Hustle     966.604
8514         Spiderhead     942.152

In [36]:
import pickle

In [37]:
pickle.dump(movies, open('pop_list.pkl', 'wb'))

In [38]:
pickle.load(open('pop_list.pkl', 'rb'))

,id,title,overview,genre,vote_average,popularity
9912,579974,RRR,A fictional history of two legendary revolutio...,"Action,Drama",9.7,11598.000
3066,507086,Jurassic World Dominion,"Four years after Isla Nublar was destroyed, di...","Adventure,Action,Science Fiction",7.0,10436.917
1337,438148,Minions: The Rise of Gru,A fanboy of a supervillain supergroup known as...,"Family,Animation,Adventure,Comedy,Fantasy",7.5,8821.801
4522,616037,Thor: Love and Thunder,After his retirement is interrupted by Gorr th...,"Action,Adventure,Fantasy",6.7,8772.151
61,361743,Top Gun: Maverick,After more than thirty years of service as one...,"Action,Drama",8.4,7567.017
...,...,...,...,...,...,...
31,12477,Grave of the Fireflies,"In the final months of World War II, 14-year-o...","Animation,Drama,War",8.4,0.600
7925,174323,G.B.F.,The bitter fight for supremacy between the thr...,"Comedy,Drama",6.0,0.600
3733,11367,Odds and Evens,A bumbling government agent recruits a trucker...,"Comedy,Crime,Action",6.9,0.600
3658,203819,Tracks,Accompanied only by her faithful dog and four ...,"Adventure,Drama",6.9,0.600
5401,203793,Stalingrad,A band of determined Russian soldiers fight to...,"War,Action,Drama",6.5,0.600